:root {
    --primary-color: #2364AA;
    --secondary-color: #ddd;
    --accent1-color: #FEC601;
    --accent2-color: #EA7317;
    --heading-font: "Comfortaa", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header img {
  width: 150px;
}

h1, h2 {
  font-family: var(--heading-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 16px;
}

p {
  font-family: var(--body-font);
  color: var(--primary-color);
  font-size: 20px;
  max-width: 1000px;
  padding: 1rem;
  text-align: left;
}

nav, p, section, article {
  margin: 16px 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 1.0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

article {
  position: absolute;
}

footer {
  text-align: left;
  color: var(--secondary-color);
  border-top: 2px solid var(--primary-color);
}

footer img {
  width: 40px;
  margin: 0 8px;
}

nav ul {
  padding-left: 20px;
  margin: 0;    
}

.hero article {
  position: absolute;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 125px;
}

.hero article {
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 48%;
  transform: translateX(-50%);
  background: var(--accent1-color);
  opacity: 0.9;
  padding: 0.5rem;
  text-align: center;
}