:root {
  --primary-color: #2364AA;
  --secondary-color: #ffffff;
  --accent1-color: #01feed;
  --accent2-color: #eeff00;
  --heading-font: "Comfortaa", sans-serif;
  --body-font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
}

header, main, footer {
  /* width: 840px; */
  width: 1200px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  gap: 1rem;
  margin: 1rem auto;
  margin-bottom: 0rem;
}

header img {
  width: 150px;
  height: auto;
  margin: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 1.8rem;
  padding: 1rem;
  text-decoration: none;
	padding: 0;
  flex: 1 1 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  padding: 10px;
}

p {
  font-family: var(--body-font);
  color: var(--primary-color);
  font-size: 1.2rem;
  padding: 1.5rem;
  text-align: left;
  margin: 1rem;
  display: flex;
}

nav, section, article {
  margin: 16px 0;
}

h1 {
  position: absolute;
  top: 14%;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

section img {
  display: inline;
  margin: 0 auto;
  padding: 1rem;
  width: 200px;
}

figure {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--primary-color);
}

footer {
  color: var(--secondary-color);
  border-top: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  position: relative;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  flex: 1;
  color: var(--secondary-color);
  font-size: 1.2rem;
  text-align: center;
  margin: 0;
  justify-content: center;
}

footer img {
  width: 38px;
}

.socialmedia {
  position: absolute;
  right: 1rem;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.socialmedia a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.3);
  border-radius: 20%;
  background-color: var(--secondary-color);
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero article img {
  display: flex;
  float: right;
  width: 210px;
  padding: 15px;
  margin: 1rem;
}

.hero article {
  position: absolute;
  display: flex;
  bottom: 12%;
  background: var(--accent2-color);
  opacity: 0.9;
  width: 90%;
}

.history {
  border: 1px solid rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}

.adventure {
  border: 1px solid rgb(0 0 0 / 0.1);
  justify-content: center;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.image-gallery figure {
  display: grid;
  text-align: center;
  top: 5px;
  flex: 1 1 20%;
  max-width: 20%;
}

.image-gallery figcaption {
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: var(--primary-color);
}

.image-gallery img {
  width: 100%;
}

.title {
  font-size: 30px;
  margin-top: 0.8rem;
}

h1.contact {
  position: static;
  margin-top: 1rem;
}

h2.contact {
  margin-top: 10px;
}

.contact p {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0.2rem;
}

form {
  flex: 1;
  background-color: var(--secondary-color);
  color: #111;
  display: flex;
  justify-content: center;
}

input, textarea, select, button {
  padding: .5rem;
  width: 350px;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0 auto;
  display: block;
  border-radius: .5rem;
  border: 1px solid rgb(0 0 0 / 10%);
}

fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px transparent rgb(0 0 0 / 0.2);
  padding: 1rem;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

fieldset label {
  margin-bottom: 0.25rem;
}

fieldset input, fieldset textarea, fieldset select {
  width: 100%;
}

.contact-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin: 1.5rem;
}

.map {
  flex: 1;
}

fieldset .radio-group {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

fieldset .radio-options {
  display: flex;
  flex-direction: column;
}

fieldset .checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img{
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home h1 {
  position: absolute;
  top: 5%;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  opacity: 0.9;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.galery {
  border: 1px solid rgb(0 0 0 / 0.1);
  display: grid;
  gap: 2rem;
  padding-bottom: 3rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.item .content {
  background: linear-gradient(
  to left,
  #CBE4F9 5%,
  rgba(203, 228, 249, 0.6) 15%,
  rgba(203, 228, 249, 0.2) 40%,
  rgba(203, 228, 249, 0) 100%
  );
  padding: 0;
  height: 100%;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  border-radius: 20px;
  margin-left: -3rem;
}

.item img {
  width: 50%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 30px var(--primary-color);
  padding: 0;
  width: 300px;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.item:nth-child(3) .content {
  background: linear-gradient(
  to right,
  #CBE4F9 5%,
  rgba(203, 228, 249, 0.6) 15%,
  rgba(203, 228, 249, 0.2) 40%,
  rgba(203, 228, 249, 0) 100%
  );
  z-index: 1;
  margin-left: 3rem;
}

.item:nth-child(3) {
  grid-template-columns: 2fr 1fr;
}

.item:nth-child(3) img{
  border-radius: 0 20px 20px 0;
  grid-template-columns: 2fr 1fr;
  mask-image: linear-gradient(to left, black 80%, transparent 100%);
}

.content h3 {
  margin-bottom: 1rem;
  color: var(--primary-color);
  margin-left: 3rem;
  margin-right: 2rem;
}

.content p {
  color: var(--primary-color);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  margin-left: 3rem;
  margin-right: 2rem;
}

.subtitle {
  width: 100%;
  padding: 16px;
  text-align: center;
  margin-bottom: 15px;
  opacity: 0.9;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.discover {
  border: 1px solid rgb(0 0 0 / 0.1);
  display: grid;
  grid-template-columns: 2fr 3fr;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.discover p{
  font-size: 2rem;
  text-align: center;
  align-items: center;
}

.discover img {
  width: 100%;
  max-width: 500px;
  justify-items: start;
  margin: 0;
  padding: 0;
  object-fit: cover;
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.btn {
  width: auto;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 25px;
  cursor: pointer;
  z-index: 1; 
}

.btn:hover {
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.btn-container {
  margin-top: -6rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}