:root {
    --primary-color: #2364AA;
    --secunday-color: #73BFB8;
    --accent1-color: #FEC601;
    --accent2-color: #EA7317;
}

main {
    margin: auto;
    max-width: 1500px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

h1, h2 {
    font-family: 'Comfortaa', sans-serif;
    color: #000000;
    font-size: 40px;
    max-width: 1500px;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 20px;
    max-width: 1000px;
    padding: 1rem;
    text-align: left;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1500px;
    height: auto;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    width: 1500px;
    max-width: 97.9%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
}

.hero article {
    position: absolute;
    width: 92%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--accent1-color);
    opacity: 0.9;
    padding: 0.5rem;
    text-align: center;
}

.hero article img {
    width: 200px;
    float: right;
    margin-left: 3rem;
    padding: 15px;
}

header {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #7dd8ef;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    max-width: 1500px;
    padding: 0.5rem;
    gap: 1rem;
}

header img {
    width: 150px;
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav a {
    font-family: 'Comfortaa', sans-serif;
    color: #000000;
    font-size: 2.5rem;
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    list-style: none;
	padding: 0;
    flex: 1 1 auto;
    flex-wrap: wrap;
    max-width: 1500px;
}

.history {
    border: 1px solid rgb(0 0 0 / 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.history h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.adventure {
    border: 1px solid rgb(0 0 0 / 0.1);
    justify-content: center;
}

section img {
    display: inline;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 200px;
    margin-bottom: 1rem;
}

.image {
    display: grid;
    align-items: center;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1000px;
}

footer {
    border: 1px solid rgb(0 0 0 / 0.1);
    background-color: var(--accent1-color);
    position: relative;
    padding: 0.5rem 1rem;
    max-width: 1500px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

footer img{
    width: 40px;
    height: auto;
}

figure {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-color);
}

.sociallinks {
    position: absolute;
    right: 1rem;
    display: flex;
    gap: 1rem;
    margin: 0;
}

.sociallinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

.image-gallery {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.image-gallery figure {
    text-align: center;
    top: 5px;
    flex: 1 1 20%;
    max-width: 20%;
}

.image-gallery img {
    width: 100%;
}