:root{
    --primary-color: #2364AA;
    --secunday-color: #73BFB8;
    --accent1-color: #FEC601;
    --accent2-color: #EA7317;

    --heading-font: comfortaa;
    --text-font: roboto;
}

a {
    font-family: 'Comfortaa';
    color: #2364AA;
    font-size: 50px;
    padding: 5rem;
}

h1, h2 {
    font-family: 'Comfortaa';
    color: #2364AA;
    font-size: 40px;
    padding: 1rem;
    text-align: center;
}

p {
    font-family: 'Roboto';
    color: #2364AA;
    font-size: 20px;
    padding: 1rem;
    text-align: center;
}

header {
    text-decoration: none;
    text-align: center;
}

main {
	margin: 2rem auto;
	font-family: Roboto, Arial, sans-serif;
}

footer{
    text-align: center;
}

section {
    text-align: center;
}

.hero {
    background-size: cover;
    background-position: center;
    height: auto;
    color: white;
}

.sociallinks a {
    text-decoration: none;
}